<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.CustAccountMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.CustAccount">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID_" jdbcType="VARCHAR" property="id" />
    <result column="CUST_CODE" jdbcType="VARCHAR" property="custCode" />
    <result column="CUST_NAME" jdbcType="VARCHAR" property="custName" />
    <result column="OPENID" jdbcType="VARCHAR" property="openid" />
    <result column="NICK_NAME" jdbcType="VARCHAR" property="nickName" />
    <result column="CON_NAME" jdbcType="VARCHAR" property="conName" />
    <result column="ACCOUNT" jdbcType="VARCHAR" property="account" />
    <result column="CUST_PASS" jdbcType="VARCHAR" property="custPass" />
    <result column="CUST_SOURCE" jdbcType="INTEGER" property="custSource" />
    <result column="CUST_TYPE" jdbcType="INTEGER" property="custType" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="ADDR" jdbcType="VARCHAR" property="addr" />
    <result column="HEAD_IMG" jdbcType="VARCHAR" property="headImg" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="SEX" jdbcType="INTEGER" property="sex" />
    <result column="NATIVE_PLACE" jdbcType="VARCHAR" property="nativePlace" />
    <result column="C_TYPE" jdbcType="VARCHAR" property="cType" />
    <result column="C_MUM" jdbcType="VARCHAR" property="cMum" />
    <result column="C_IMG" jdbcType="VARCHAR" property="cImg" />
    <result column="M_STATUS" jdbcType="INTEGER" property="mStatus" />
    <result column="LOCATION" jdbcType="VARCHAR" property="location" />
    <result column="BANK_INFO" jdbcType="VARCHAR" property="bankInfo" />
    <result column="BANK_NUM" jdbcType="VARCHAR" property="bankNum" />
    <result column="BONUS_POINTS" jdbcType="DECIMAL" property="bonusPoints" />
    <result column="ENCRYPT" jdbcType="VARCHAR" property="encrypt" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="DELETED" jdbcType="INTEGER" property="deleted" />
    <result column="REMIND" jdbcType="INTEGER" property="remind" />
  </resultMap>
</mapper>