<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.GoodsImgMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.GoodsImg">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID_" jdbcType="VARCHAR" property="id" />
    <result column="GOODS_ID" jdbcType="VARCHAR" property="goodsId" />
    <result column="IMG" jdbcType="VARCHAR" property="img" />
    <result column="SORT" jdbcType="INTEGER" property="sort" />
  </resultMap>
</mapper>