<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.GoodsAttrValueMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.GoodsAttrValue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID_" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="ATTR_ID" jdbcType="VARCHAR" property="attrId" />
  </resultMap>
</mapper>