<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.SecMenuRoleMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.SecMenuRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID_" jdbcType="VARCHAR" property="id" />
    <result column="ROLE_ID" jdbcType="VARCHAR" property="roleId" />
    <result column="MENU_ID" jdbcType="VARCHAR" property="menuId" />
  </resultMap>
</mapper>