<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.SecRoleMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.SecRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID_" jdbcType="VARCHAR" property="id" />
    <result column="ROLE_CODE" jdbcType="VARCHAR" property="roleCode" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="DELETED" jdbcType="INTEGER" property="deleted" />
    <result column="STANBY_ID" jdbcType="VARCHAR" property="stanbyId" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
  </resultMap>
</mapper>